.container {
  width: 800px;
  height: 121px;

  .cart-item {
    display: flex;


    .catalog-item__image {
      margin-left: 15px;
      width: 100px;
      height: 100px;
    }

    .card-data__item {
      width: 700px;
      margin: 4px 6px 24px 31px;

      .card--title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;

        .card--title__desc {
          color: #1F2432;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 145%;
          margin-bottom: 6px;
        }

        .card-del {
          border: none;
          background: none;
          justify-content: flex-end;
        }
      }

      .card__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .card-description {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
        }

        .izmCol {
            display: flex;


          .decr, .incr, .count {

            background: #F6F8FA;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            border: none;
            margin-right: 2px;
            text-align: center;

            span {
              height: 8px;
            }
          }

          .count {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      }

      .card__footer p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #797B86;
      }
    }

    .card__footer {
      margin-top: 7px;

      .art {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #797B86;
      }
      .card-quant{
        position: relative;
        bottom: 19px;
        margin-left: 50%;
        font-weight: 400;
        font-size: 12px;
        color: #1F2432;
      }
    }

    .cart-item__info {
    }


    .cart-item__quantity {
      min-width: 100px;
    }

    .v-cart-total {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 24px;
      display: flex;
      justify-content: center;
    }

    .total-name {
      margin-right: 16px;
      background: #2DA5F3;
    }
    &_sum{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 145%;
    }
  }
}


